.textContainer {
  margin: 170px 0px;
  line-height: 25px;
  @media only screen and (max-width: 1350px) {
    margin: 170px 20px;
  }
  @media only screen and (max-width: 768px) {
    margin: 70px 20px;
  }
}

.headline {
  font-weight: 100;
}

.subTitle {
  margin-bottom: 30px;
}

.mainList {
  list-style-type: upper-roman;
  list-style-position: inside;
}

.subList {
  list-style-position: outside;
  padding-left: 15px;
  margin: 20px 0 40px;
}

.subList li {
  padding-left: 20px;
}
